@import "../../../style/global";

.ExperienceSection {
  margin-top: 160px;
  margin-bottom: 160px;

  @media (max-width: 768px) {
    margin-top: 85px;
    margin-bottom: 85px;
  }
  .Title {
    background-color: $color_dark_gunmetal;
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 593px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .TitleWrapper {
      width: 396px;
      max-width: 100%;
      height: 218px;
      max-height: 100%;
      margin-bottom: 38px;
      h3 {
        @include montserrat-style(40px, 700, 60px);
        color: $color_white;
        margin-bottom: 25px;
        @media (max-width: 576px) {
          @include montserrat-style(35px, 700, 50px);
        }

        .Highlight {
          display: inline-block;
          position: relative;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            top: 36px;
            left: 0;
            height: 15px;
            width: 156px;
            background: rgba(255, 190, 98, 0.23);
            z-index: -1;
          }
        }
      }

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        @include montserrat-style(12px, 500, 28px);
        color: rgba(255, 255, 255, 0.4);
        width: 607px;
        max-width: 100%;
        margin-bottom: 38px;
      }

      @media (max-width: 576px) {
        height: unset;
      }
    }

    .LineDecoration {
      svg {
        max-width: 356px;
        width: 100%;
      }
    }

    .EllipseOne {
      position: absolute;
      left: 97px;
      bottom: 32px;
    }
    .EllipseTwo {
      position: absolute;
      top: 121px;
      right: 111px;

      @media (max-width: 576px) {
        top: 50px;
        right: 50px;
      }
    }

    @media (max-width: 1200px) {
      margin-bottom: 40px;
    }
  }
}
